/* Forms */
/* Notices */
#ignoredDomainsFormWrapper {
  width: 100%;
  margin: 20px; }

.lb-form .lb-button-primary {
  padding: 10px 36px;
  height: auto;
  transition: all .3s;
  background-color: #1A237E;
  border: 2px solid #1A237E;
  font-weight: bold;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  cursor: pointer; }
  .lb-form .lb-button-primary:focus, .lb-form .lb-button-primary:hover {
    background-color: #ffffff;
    border: 2px solid #1A237E;
    color: #1A237E; }

.lb-row {
  width: 100%;
  float: left; }

.lb-text-center {
  text-align: center; }

#sites_form_meta_box.postbox {
  border: none; }

.lb-form {
  float: left; }
  .lb-form.linkbuildr-settingsFormWrapper {
    margin-left: 10px; }
  .lb-form *, .lb-form *:before, .lb-form *:after {
    box-sizing: border-box; }
  .lb-form .linkbuildr-settings-section {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px; }
    .lb-form .linkbuildr-settings-section .linkbuildr-settings-section-header {
      margin-top: 10px;
      margin-bottom: 5px; }
      .lb-form .linkbuildr-settings-section .linkbuildr-settings-section-header h2 {
        font-size: 24px;
        line-height: 26px;
        color: #1A237E;
        font-weight: bold;
        margin-top: 0px;
        margin-left: 5px;
        margin-bottom: 5px; }
  .lb-form .linkbuildr-settings-submit-wrapper {
    margin-left: 5px; }
  .lb-form .lb-row {
    width: 100%;
    margin-top: 40px; }
    .lb-form .lb-row.lb-row-half-margin {
      margin-top: 20px; }
    .lb-form .lb-row.lb-submit-row {
      margin-top: 20px;
      display: flex;
      flex-flow: row nowrap; }
      .lb-form .lb-row.lb-submit-row.lb-importer-submit-row {
        display: none; }
    .lb-form .lb-row.lb-row-checkbox {
      margin-top: 20px; }
      .lb-form .lb-row.lb-row-checkbox.lb-row-first {
        margin-top: 5px; }
    .lb-form .lb-row.lb-row-first {
      margin-top: 10px; }
    .lb-form .lb-row.lb-row-nb-first {
      margin-top: 25px; }
    .lb-form .lb-row > .input-group {
      width: 50%;
      float: left; }
      .lb-form .lb-row > .input-group > .input-group-spacer {
        width: 100%;
        padding-left: 5px;
        padding-right: 30px;
        float: left; }
    .lb-form .lb-row > .input-group.input-group-full-width {
      width: 100%; }
  .lb-form input, .lb-form select, .lb-form .lb-input-div, .lb-form textarea {
    background: none;
    color: #393939;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    box-shadow: none !important; }
  .lb-form textarea {
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    width: 100%;
    padding: 10px;
    line-height: 25px; }
  .lb-form input:focus, .lb-form input:active {
    outline: none; }
  .lb-form input[type="text"],
  .lb-form input[type="email"],
  .lb-form .lb-input-div {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e; }
  .lb-form select {
    padding-left: 10px;
    -webkit-appearance: none;
    height: 35px;
    margin-top: 10px;
    width: 100%;
    background: #fff url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 5px top 55%; }
  .lb-form .lb-subnote {
    padding-left: 5px;
    font-size: 10px;
    color: #777777;
    pointer-events: none; }
    .lb-form .lb-subnote.lb-setting-header-subnote {
      font-size: 14px; }
  .lb-form .input-group {
    display: block;
    position: relative;
    /*#import_site_contacts_csv {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}*/ }
    .lb-form .input-group.input-group-checkbox .input-group-spacer {
      padding-left: 15px; }
      .lb-form .input-group.input-group-checkbox .input-group-spacer label {
        position: relative;
        top: -1px;
        left: 2px;
        color: #393939; }
      .lb-form .input-group.input-group-checkbox .input-group-spacer input:focus + label,
      .lb-form .input-group.input-group-checkbox .input-group-spacer input.has-value + label {
        font-size: 18px;
        color: #393939; }
    .lb-form .input-group .lb-input-div,
    .lb-form .input-group input {
      padding: 10px 0; }
    .lb-form .input-group label {
      position: absolute;
      transform: translateY(-50%);
      top: 22px;
      left: 10px;
      font-size: 18px;
      line-height: 25px;
      color: rgba(57, 57, 57, 0.4);
      pointer-events: none;
      transition: all 180ms ease-out; }
      .lb-form .input-group label.lb-textarea-label {
        left: 15px;
        top: 25px; }
    .lb-form .input-group select + label,
    .lb-form .input-group input:focus + label,
    .lb-form .input-group input.has-value + label,
    .lb-form .input-group textarea:focus + label,
    .lb-form .input-group textarea.has-value + label,
    .lb-form .input-group > .input-group-spacer > label.lb-static-label {
      top: -10px;
      left: 5px;
      font-size: 14px;
      color: rgba(26, 35, 126, 0.9); }
    .lb-form .input-group textarea:focus + label,
    .lb-form .input-group textarea.has-value + label {
      top: -15px; }
    .lb-form .input-group .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: baseline; }
    .lb-form .input-group .upload-btn-wrapper input[type=file] {
      width: 170px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 10px;
      opacity: 0;
      cursor: pointer; }
    .lb-form .input-group .file-select-button {
      margin-right: 10px;
      margin-top: 10px; }
  .lb-form #lb-file-requirements {
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: #f1f1f1;
    padding: 10px;
    padding-left: 14px; }
    .lb-form #lb-file-requirements h4 {
      margin: 5px 0;
      font-size: 18px; }
    .lb-form #lb-file-requirements .lb-file-req-status {
      color: #393939;
      font-weight: 700;
      font-size: 24px;
      margin-right: 5px; }
    .lb-form #lb-file-requirements #lb-file-requirements-icon {
      line-height: 20px; }
      .lb-form #lb-file-requirements #lb-file-requirements-icon::before {
        content: "\f159";
        margin-left: 5px; }
    .lb-form #lb-file-requirements.lb-file-valid {
      border-left: 4px solid #4ab866;
      padding-left: 10px; }
      .lb-form #lb-file-requirements.lb-file-valid #lb-file-requirements-icon::before {
        content: "\f12a";
        color: #4ab866; }
    .lb-form #lb-file-requirements.lb-file-invalid {
      border-left: 4px solid #d94f4f;
      padding-left: 10px; }
      .lb-form #lb-file-requirements.lb-file-invalid #lb-file-requirements-icon::before {
        content: "\f153";
        color: #d94f4f; }
    .lb-form #lb-file-requirements ul li {
      float: left;
      width: 100%;
      margin: 10px 0 5px 30px;
      font-size: 18px; }
      .lb-form #lb-file-requirements ul li::before {
        content: "\f159";
        margin-right: 5px;
        margin-bottom: 3px;
        line-height: 18px; }
      .lb-form #lb-file-requirements ul li.lb-req-passed::before {
        content: "\f12a";
        color: #4ab866; }
      .lb-form #lb-file-requirements ul li.lb-req-failed::before {
        content: "\f153";
        color: #d94f4f; }

.lb-form-element {
  float: left;
  width: 100%;
  margin-bottom: 3px; }
  .lb-form-element .postbox {
    box-shadow: none !important; }

@media screen and (max-width: 700px) {
  .lb-form > .lb-row > .input-group {
    width: 100%; }
    .lb-form > .lb-row > .input-group.input-group-second {
      margin-top: 40px; } }

.linkbuildr-wrapper.linkbuildr-modal-form .lb-form-element {
  padding: 15px;
  border-bottom: #ccc 1px solid; }
  .linkbuildr-wrapper.linkbuildr-modal-form .lb-form-element:last-child {
    border-bottom: none; }

.linkbuildr-wrapper.linkbuildr-modal-form .logoholder {
  padding: 15px;
  background-color: #fff;
  width: 100%; }
  .linkbuildr-wrapper.linkbuildr-modal-form .logoholder img {
    max-width: none;
    height: 30px; }

.linkbuildr-wrapper.linkbuildr-modal-form h2.lbhead {
  line-height: 42px; }

.linkbuildr-wrapper.linkbuildr-modal-form .lb-form .input-group .lb-input-div.domains {
  font-size: 24px;
  border-bottom: none; }
  .linkbuildr-wrapper.linkbuildr-modal-form .lb-form .input-group .lb-input-div.domains > label {
    display: none; }

.linkbuildr-wrapper.linkbuildr-modal-form div.error,
.linkbuildr-wrapper.linkbuildr-modal-form div.updated {
  margin-top: 15px;
  float: left;
  width: 90%; }

.linkbuildr-wrapper.linkbuildr-modal-form .lb-row > .lb-close-modal {
  position: relative;
  display: inline-block;
  margin-top: 10px; }

#lb-importer-data-form #importer-file-ui {
  float: left;
  width: 100%;
  padding-left: 5px; }
  #lb-importer-data-form #importer-file-ui .lb-table-header {
    color: rgba(26, 35, 126, 0.9);
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(200, 200, 200, 0.2);
    padding: 3px 5px;
    margin: 0 1px; }
    #lb-importer-data-form #importer-file-ui .lb-table-header.lb-table-header-draggable {
      padding-left: 24px;
      cursor: move;
      background-image: url(/wp-content/plugins/linkbuildr/img/drag_icon.svg);
      background-repeat: no-repeat; }
  #lb-importer-data-form #importer-file-ui #header-holder-wrapper {
    position: relative;
    margin-top: 15px; }
    #lb-importer-data-form #importer-file-ui #header-holder-wrapper.hide {
      display: none; }
    #lb-importer-data-form #importer-file-ui #header-holder-wrapper label {
      color: rgba(26, 35, 126, 0.9);
      background: #FFF;
      position: absolute;
      top: -10px;
      left: 10px;
      padding: 0 3px; }
  #lb-importer-data-form #importer-file-ui #header-holder {
    display: flex;
    flex-flow: row wrap;
    padding: 17px 15px 15px;
    border: 1px solid #9e9e9e; }
    #lb-importer-data-form #importer-file-ui #header-holder.hide {
      display: none; }
    #lb-importer-data-form #importer-file-ui #header-holder .lb-table-header {
      border: 2px dashed #9e9e9e; }
  #lb-importer-data-form #importer-file-ui #file-data-summary,
  #lb-importer-data-form #importer-file-ui #file-data-errors {
    width: 100%;
    display: flex; }
    #lb-importer-data-form #importer-file-ui #file-data-summary .summary,
    #lb-importer-data-form #importer-file-ui #file-data-errors .summary {
      border: none;
      margin: 0;
      width: 100%;
      height: 50px;
      min-height: 50px;
      background-color: #e5f5fa;
      border-left: 4px solid #00a0d2;
      color: #ffffff;
      font-size: 16px;
      margin-right: 20px;
      padding: 6px 12px;
      box-shadow: none;
      display: flex;
      align-items: center; }
      #lb-importer-data-form #importer-file-ui #file-data-summary .summary.info,
      #lb-importer-data-form #importer-file-ui #file-data-errors .summary.info {
        margin-left: 15px;
        background-color: #e5f5fa;
        border-left: 4px solid #00a0d2;
        color: rgba(57, 57, 57, 0.4); }
      #lb-importer-data-form #importer-file-ui #file-data-summary .summary.error,
      #lb-importer-data-form #importer-file-ui #file-data-errors .summary.error {
        margin-top: 15px;
        background-color: #f9e2e2;
        border-left: 4px solid #d94f4f;
        color: rgba(57, 57, 57, 0.4); }
      #lb-importer-data-form #importer-file-ui #file-data-summary .summary .lb-stat-body,
      #lb-importer-data-form #importer-file-ui #file-data-errors .summary .lb-stat-body {
        display: flex;
        align-items: baseline; }
        #lb-importer-data-form #importer-file-ui #file-data-summary .summary .lb-stat-body .lb-big-num,
        #lb-importer-data-form #importer-file-ui #file-data-errors .summary .lb-stat-body .lb-big-num {
          font-size: 20px;
          color: #393939;
          padding: 0px 3px; }
  #lb-importer-data-form #importer-file-ui #file-data-table-output {
    width: 100%;
    float: left; }
    #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table {
      width: 100%;
      border-collapse: collapse;
      display: block;
      margin-top: 20px; }
      #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead {
        display: block;
        width: 100%;
        float: left; }
        #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr {
          display: block;
          width: 100%;
          float: left;
          border-bottom: 2px solid #9e9e9e; }
          #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th {
            display: block;
            float: left;
            color: rgba(26, 35, 126, 0.9);
            font-size: 14px;
            font-weight: 400; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th#lb-table-th-domain {
              width: 35%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th#lb-table-th-email {
              width: 25%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th#lb-table-th-name {
              width: 13%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th#lb-table-th-site {
              width: 12%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th#lb-table-th-template {
              width: 15%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th .lb-table-header-container {
              min-height: 25px; }
              #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table thead tr th .lb-table-header-container.lb-empty-header-container {
                border: 1px dashed #9e9e9e; }
      #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody {
        width: 100%;
        display: block;
        max-height: 500px;
        overflow-y: scroll; }
        #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr {
          border-bottom: 1px solid #9e9e9e; }
          #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr.lb-row-success {
            border-left: 4px solid #4ab866; }
          #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr.lb-row-error {
            border-left: 4px solid #d94f4f; }
          #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr:nth-child(odd) {
            background-color: #f1f1f1; }
          #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td {
            padding: 5px; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.import-table-cell.import-table-cell-domain {
              width: 35%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.import-table-cell.import-table-cell-email {
              width: 25%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.import-table-cell.import-table-cell-name {
              width: 13%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.import-table-cell.import-table-cell-site {
              width: 12%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.import-table-cell.import-table-cell-template {
              width: 15%; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td.lb-invalid-cell {
              background-color: #f9e2e2; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td select {
              margin-top: 0; }
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td input[type=text],
            #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td input[type=email] {
              text-align: center;
              border-bottom: none;
              border-radius: 0px;
              font-size: 16px;
              float: left;
              display: block; }
              #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td input[type=text]:focus,
              #lb-importer-data-form #importer-file-ui #file-data-table-output table.import-contact-table tbody tr td input[type=email]:focus {
                border-bottom: 1px solid #9e9e9e; }

.linkbuildr-wrapper .dashboardWrapper {
  float: left;
  width: 100%; }

.linkbuildr-wrapper .tableWrapper {
  margin: 20px;
  margin-top: 10px; }

.linkbuildr-wrapper .siteContactTableWrapper, .linkbuildr-wrapper .emailTemplateWrapper {
  width: 50%;
  float: left; }
  @media screen and (min-width: 783px) {
    .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      display: block; }
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tbody, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 450px; }
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table thead, .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tfoot, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table thead, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tfoot {
        width: 100%;
        display: block;
        overflow: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */ }
        .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table thead::-webkit-scrollbar, .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tfoot::-webkit-scrollbar, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table thead::-webkit-scrollbar, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tfoot::-webkit-scrollbar {
          /* WebKit Scrollbar */
          width: 0;
          height: 0; }
        .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table thead tr, .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tfoot tr, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table thead tr, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tfoot tr {
          display: block;
          width: 100%; }
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table th, .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table td, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table th, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table td {
        padding: 5px;
        text-align: left; }
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-cb,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-domain,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-sitename,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-firstname,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-email,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-templatechoice,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-templatename,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-sender,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-subject,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-content,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr td .column-tweet, .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-cb,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-domain,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-sitename,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-firstname,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-email,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-templatechoice,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-templatename,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-sender,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-subject,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-content,
      .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr th .column-tweet, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-cb,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-domain,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-sitename,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-firstname,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-email,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-templatechoice,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-templatename,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-sender,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-subject,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-content,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr td .column-tweet, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-cb,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-domain,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-sitename,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-firstname,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-email,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-templatechoice,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-templatename,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-sender,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-subject,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-content,
      .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr th .column-tweet {
        display: table-cell; } }
  @media screen and (max-width: 782px) {
    .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr.is-expanded > td, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr.is-expanded > td {
      min-height: 25px; }
    .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table tr.is-expanded > td:not(.column-primary)::before, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table tr.is-expanded > td:not(.column-primary)::before {
      content: attr(data-colname) ":" !important;
      font-weight: bold; }
    .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table td.column-primary, .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper table.wp-list-table td.column-primary {
      padding-top: 15px; } }

@media screen and (min-width: 783px) {
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-cb {
    min-width: 20px;
    width: 20px; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-domain {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-sitename {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-firstname {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-email {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-templatename {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .siteContactTableWrapper > .tableWrapper table.wp-list-table .column-unsubscribed {
    min-width: 125px;
    width: 125px;
    max-width: 125px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper .wp-list-table .column-templatename {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper .wp-list-table .column-sender {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper .wp-list-table .column-subject {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper .wp-list-table .column-content {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    overflow-x: hidden; }
  .linkbuildr-wrapper .emailTemplateWrapper > .tableWrapper .wp-list-table .column-tweet {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    overflow-x: hidden; } }

@media screen and (max-width: 1250px) {
  .linkbuildr-wrapper .siteContactTableWrapper, .linkbuildr-wrapper .emailTemplateWrapper {
    width: 100%; } }

.lb-logo-notice-span {
  background-size: 120px;
  background-repeat: no-repeat;
  height: 20px;
  width: 130px;
  display: inline-block;
  background-image: url(/wp-content/plugins/linkbuildr/img/linkbuilder_logo.svg); }

.lb-notice-content {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px; }

#TB_overlay, #TB_window {
  z-index: 100150 !important; }

#TB_window > #TB_title {
  border-bottom: none; }

.lb-message-container {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px; }
  .lb-message-container > .lb-message {
    background-color: #e5f5fa;
    border: 1px solid #ccd0d4;
    border-left: 4px solid #00a0d2;
    margin: 0 0 5px;
    padding: 6px 12px;
    min-height: 50px;
    box-shadow: none; }
    .lb-message-container > .lb-message.error {
      border-left-color: #d94f4f;
      background-color: #f9e2e2; }
    .lb-message-container > .lb-message.success {
      border-left-color: #4ab866;
      background-color: #eff9f1; }
    .lb-message-container > .lb-message > .lb-message-content-container {
      margin: 1em 0; }
      .lb-message-container > .lb-message > .lb-message-content-container > .lb-message-content {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px; }
  .lb-message-container > div.error,
  .lb-message-container > div.updated,
  .lb-message-container > div.success {
    float: left;
    width: 90%; }

.linkbuildr-wrapper {
  height: 100%;
  float: left;
  background-color: #ffffff;
  margin-left: -20px;
  padding: 20px; }

.logoholder {
  margin-left: 5px;
  padding: 0px 15px 10px;
  width: 100%;
  float: left; }
  .logoholder img {
    max-width: 160px;
    float: left; }

@media screen and (min-width: 783px) {
  .logoholder img {
    max-width: none;
    height: 30px; } }

.logoholder > div.updated, .logoholder > div.error {
  width: 100%;
  float: left;
  margin-bottom: 0px; }

.lbhead {
  margin-top: 0px;
  margin-left: 5px;
  color: #1A237E;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.8em;
  line-height: 42px;
  float: left; }

h2.lbhead {
  margin-left: 15px; }

#linkbuildr_classic_editor_check {
  display: none; }

.savetext {
  color: rgba(26, 35, 126, 0.9);
  padding: 4px 0px;
  margin-bottom: 8px; }

#LB-options {
  background-color: #ffffff;
  border: none;
  border-left: 4px solid #80d9ff;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(26, 35, 126, 0.9); }

#linkbuildr_contact_alert {
  background-color: #ffffff;
  color: rgba(26, 35, 126, 0.9);
  font-weight: 500;
  border: none;
  border-left: 4px solid #80d9ff;
  padding: 10px; }
  @media screen and (min-width: 849px) {
    #linkbuildr_contact_alert {
      margin-right: 300px; } }

#linkbuildr_email_sent_alert {
  background-color: #eff9f1;
  color: rgba(26, 35, 126, 0.9);
  font-weight: 500;
  border: none;
  border-left: 4px solid #4ab866;
  padding: 10px; }
  @media screen and (min-width: 849px) {
    #linkbuildr_email_sent_alert {
      margin-right: 300px; } }

.logoholdermeta img {
  max-width: 100px;
  padding-bottom: 10px; }

.logoholdermsg img {
  max-width: 90px;
  padding-right: 8px;
  margin-bottom: -.3px; }

.lb-h2, .lb-button {
  padding: 4px 8px;
  height: auto;
  transition: all .3s;
  background: #1A237E;
  border: 2px solid #1A237E;
  font-weight: bold;
  line-height: 13px;
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  margin-left: 15px;
  cursor: pointer; }
  .lb-h2:hover, .lb-button:hover {
    background: #ffffff;
    border: 2px solid #1A237E;
    color: #1A237E; }

#adminmenu .awaiting-mod.lb-menu-red-dot {
  margin-left: 5px; }
